h1 {
    text-align: center;
    color: white;
}

body {
    background-image: url(./img/leonfight1.JPG);
    background-size: cover;
}

button {
    padding: 10px;
    border-radius: 10px;
    display: block;
    margin-bottom: 15px;
    text-align: center;
}

#logout {
    text-align: center;
    border: 1mm;
    border-radius: 10px;
}

#logout form {
   display: inline-block;
}