h1 {
    text-align: center;
    color: white;
}

body {
    background-image: url(./img/leonfight1.JPG);
    background-size: cover;
}

#Create {
    text-align: center;
}

#Create form {
    display: inline-block;
}

input {
    display: block;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
}